@charset "UTF-8";

@media screen and (max-width: 768px) {
    body {
        width: 100vw;
        height: auto;
        max-height: 100vh;
        background:#deb887;
    }

    div {
        background:#deb887;
        height: 100vh;
        max-height: 100vh;
        display: flex;
        flex-flow: column;
    }

    header {
        display: block;
    }

    h1 {

        display: flex;
        justify-content: center;
        margin: 0 auto;
        
    }

    nav {
        display: flex;
        justify-content: space-around;
        flex-flow: row nowrap;    
        margin: 0 auto;
    }

    menu > nav > a{
        padding: 10px 0px; 
        margin: 1px 9px;
        font-size: 0.8em;
    }

    .es {
        align-self: center;
        margin-right: 0px;
        padding: 5px 10px;
        border-radius: 12px;
    }
    

    main {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100vw;
    
    }
    
    
    .left > img {
        margin-top: 70px;
        max-height: 60vh;
        width: 60vw;
        transition: 1s;
    }
    
    .right {
        margin: 0 50px;
        padding-right: 0px;
        transition: 1s;
        width: 100vw;
    }
    
    .right > h2 {
        text-align: center;
        margin: 20px;

    }
    
    .right > p {
        margin: 0 35px;
    }
    
    #btn {
       
        display: flex;
        
        margin: 15px auto;
        padding: 10px 35px;
        border: none;
    }
    
















   
}



@media screen and (min-width: 768px) and (max-width: 992px)  /*TABLET*/ {

    .left > img {
        height: 80vh;
        width: 60vw;
    }

    .right {
        padding-right: 20px;
    }

}