@charset "UTF-8";

@media screen and (max-width: 768px) {

    body {
        background: linear-gradient(#deb887, #deb887, #A58964) no-repeat fixed;
    }

    header {
        display: block;
        justify-content: space-evenly;
        flex-flow: row wrap;
        align-content: space-between;
        align-content: center;
        margin: 30px 0px;
    }

    h1 {
        display: flex;
        justify-content: center;
        flex-flow: column nowrap;
        align-items: center;
        margin: 15px auto;
    
    }

    br {
        display: none;
    }

    menu {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-content: center;
        margin-bottom: 10px;
        margin: 0 auto;
    }

    nav {
        margin: 0 auto;
    }

    menu > a {
        align-self: center;
        
    }


    .es {
        margin-right: 0px;
    }

    div {
        justify-content: center;
        align-items: center;
        align-content: center;
        max-height: 100vh;
        max-width: 98vw;
    }

    main {
        flex-flow: column;
    }

    .right {
        display: flex;
        flex-flow: column;
        width: 70vw;
        padding: 10px 10px;
    }
    
    img {
        margin-top: 20px;
       width: 40px;
    }
    
    .right > h2 {
        text-align: center;
    }

    .right > p {
        text-align: justify;
    }
}



@media screen and (min-width: 768px) and (max-width: 992px)  /*TABLET*/ {

    .left > img {
        height: 80vh;
        width: 60vw;
    }

    .right {
        padding-right: 20px;
    }

}