@charset "UTF-8";

@media screen and (max-width: 768px) {

    header {
        justify-content: space-evenly;
        flex-flow: row wrap;
        align-content: space-between;
        margin: 0px 0px;
    }

    .es {
        margin-right: 0px;
    }

    div {
        justify-content: center;
        align-items: center;
        align-content: center;
        max-height: 100vh;
        max-width: 98vw;
    }

    main {
        flex-flow: column;
    }

    .right {
        display: flex;
        flex-flow: column;
        width: 70vw;
        padding: 10px 10px;
    }
    
    img {
       width: 50px;
    }
    
    .right > h2 {
        text-align: center;
    }

    .right > p {
        text-align: justify;
    }
}



@media screen and (min-width: 768px) and (max-width: 992px)  /*TABLET*/ {

    .left > img {
        height: 80vh;
        width: 60vw;
    }

    .right {
        padding-right: 20px;
    }

}